logging:
  level:
    # 打印请求地址路径
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: trace
spring:
  security:
    oauth2:
      client:
        registration:
          hspace:
            client-id: hspace-baidu
            client-secret: client_secret
            client-name: 测试客户端
            scope:
              - message.read
              - openid
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_basic
            redirect-uri: '{baseUrl}/login/oauth2/code/{registrationId}'
            provider: oauth-provider
        provider:
          oauth-provider:
            authorization-uri: http://haiyinlong-test.com:8080/oauth2/authorize
            token-uri: http://haiyinlong-test.com:8080/oauth2/token
            user-info-uri: http://haiyinlong-test.com:8080/userinfo
            user-name-attribute: name
            jwk-set-uri: http://haiyinlong-test.com:8080/oauth2/jwks


