logging:
  level:
    # 打印请求地址路径
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: trace
spring:
  security:
    oauth2:
      resource-server:
        # 验证token方式, 会调用/oauth2/jws端点
        jwt:
          issuer-uri: http://haiyinlong-test.com:8080
feign:
  client:
    config:
      default:
        # 超时时间10s
        connect-timeout: 10000
        read-timeout: 10000
